# Disable directory browsing
Options -Indexes

# Custom 404 Error Document
ErrorDocument 404 /404.php


# Rewrite rule to remove file extensions
RewriteEngine On

# Rewrite rule to internally rewrite requests without extensions to their corresponding .html files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Rewrite rule to internally rewrite requests without extensions to their corresponding .php files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Return 404 error if the extension is modified (for .html files)
RewriteCond %{THE_REQUEST} \.html?\s [NC]
RewriteRule ^ - [R=404,L]

# Return 404 error if the extension is modified (for .php files)
RewriteCond %{THE_REQUEST} \.php\s [NC]
RewriteRule ^ - [R=404,L]

# Set caching headers for fonts, images, and videos
<FilesMatch "\.(woff|woff2|ttf|otf|svg|eot|jpg|jpeg|png|gif|ico|webp|mp4|webm)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# Set caching headers for HTML, CSS, JS files
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html "access plus 1 hour"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(html|htm)$">
        Header set Cache-Control "max-age=3600, public"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>
</IfModule>

# Enable Gzip compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/json
</IfModule>
